
/* index.html styles */
#title{
background-image: url(https://images.unsplash.com/photo-1477238134895-98438ad85c30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
background-repeat:no-repeat;
background-size:cover;
opacity:12;
filter: alpha(opacity=11.2rem)
}






/* unigram logo image */
.unigram-logo{
  margin-top: 8px;
}

  /* TEXT BEFORE THE NAV BAR */
  .top-text{
      font-size: 2.0rem;
      font-weight: bolder;
      margin-bottom:1em;
      color:#fff;
      text-align: center;
  }
  .container-fluid{
    padding:3% 15% 7%;
    

  }

  /* nav bar */
  
    
  
  .navbar{
    padding:0 0 10rem;
  }
  .navbar-brand {
    font-family:"Ubuntu";
    font-size:1.5rem;
    color: white !important;
    font-weight: 700;
  
  }

  
  .nav-item{
    padding:0 10px;
    
    
  }
  .nav-link{
    font-size:1.2rem;
    font-family: "Montserrat-light";
    color: black !important;
    font-weight: bold;
    
  }
 /* text above the button saying visit our other site  */
  .button-text{
  font-family: "Montserrat-black";
  font-size:1.0rem;
  line-height:1.5;
  font-weight: bold;
  color:black;
  
  }

  .download-button{
    font-size: 0.5em;
    

}


  body{
    font-family:Montserrat;
    text-align: center;
  }
  /* the last text */
  .end-text{
      text-align: center;
      
      color:black;
      font-size: 1.5em;
      font-weight: bolder;
      padding:3% 15% 7%;
      
      
  }


  /* footer */

#footer{
  text-align: center;
margin-top: 15%;



}
.foot-icon{
font-weight: bolder;
  color: black !important;
 background-color:rgba(red, green, blue, alpha);
 height: 20%;
width: 100%;

  
}



@media screen and (max-width:715px){
    #title{
      text-align: center;
      
    }
    .navbar-brand{
        font-size: 0.9em;
        text-align: center;
    }
}
 
@media screen and (max-width:427px){
    .navbar-brand{
        font-size: 0.8em;
        text-align: center;
}
#title{
    text-align: center;}
}

@media only screen and (min-width: 1091px){
  .col-lg-6{
    
    margin-left: 250px;
   
  }
}

/* border box for the education at its best */
.borderexample {
 border-style:solid;
 border-color:white;
}
/* outline.html specific styles */
/* faculty button style in outline.html */
.faculty-button{
  line-height: 60px;
  word-spacing: 10px;
  
}
 .outline-h1{
   font-family: "Montserrat-black";
   font-size: 1.0rem;
   line-height: 1.5;
   font-weight: bold;
   color:black;
   margin-top: -60px;

 }



/* text above faculty button */
.text-above-faculty-button{
  font-weight: bolder;
  color: black;
  font-size: 1.0rem;
}
/* faculty of science specific styles */
.fas-welcome-text{
  color: #fff;
  font-weight: bolder;
}




